.git
.gitignore
.vscode
node_modules
vendor
.env
.env.*
docker
docker-compose.yml
docs
postfixadmin
scripts
tests
storage/framework/cache/data
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
CHANGELOG_*.md
compile-assets.md
deploy-smart.sh
deploy.sh
webhook.log