/node_modules
/public/hot
/public/storage
/storage/*.key
.cache/
.config/
.local/
.npm/
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.cursor/rules/my-custom-rules.mdc
.github/copilot-instructions.md
.github/prompts/copilot.prompt.md
/public/build
/pgia
/pinegrow.*
!pinegrow
figma-export
vite.config.js
postfixadmin-4.0.1/
env-old.php
